<div class="card">
  <h2>Add Item to Invoice</h2>

  <form #form="ngForm" (ngSubmit)="addItem(form)">

    <input
      [(ngModel)]="selectedInvoiceId"
      name="invoiceId"
      placeholder="Invoice ID"
      type="number"
      required
      #invoiceId="ngModel"><br>

    <div *ngIf="invoiceId.invalid && invoiceId.touched" style="color:red;">
      Invoice ID is required
    </div>

    <input
      [(ngModel)]="productId"
      name="productId"
      placeholder="Product ID"
      type="number"
      required
      #productIdField="ngModel"><br>

    <div *ngIf="productIdField.invalid && productIdField.touched" style="color:red;">
      Product ID is required
    </div>

    <input
      [(ngModel)]="quantity"
      name="quantity"
      placeholder="Quantity"
      type="number"
      required
      min="1"
      #quantityField="ngModel"><br>

    <div *ngIf="quantityField.invalid && quantityField.touched" style="color:red;">
      Quantity is required
    </div>

    <button type="submit">Add Item</button>

  </form>
</div>
<h2>Invoices</h2>

<button (click)="createInvoice()">Create Invoice</button>

<table border="1">
  <tr>
    <th>ID</th>
    <th>Number</th>
    <th>Status</th>
    <th>Actions</th>
  </tr>

  <tr *ngFor="let invoice of invoices">
    <td>{{ invoice.id }}</td>
    <td>{{ invoice.number }}</td>
    <td>{{ invoice.status }}</td>
    <td>
      <button
      (click)="closeInvoice(invoice)">
        {{ loadingInvoiceId === invoice.id  ? 'Printing...' : 'Print' }}
      </button>
    </td>
  </tr>
</table>
